version: 2

updates:
  - package-ecosystem: "github-actions"
    open-pull-requests-limit: 20
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "docker"
    open-pull-requests-limit: 20
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "gomod"
    open-pull-requests-limit: 20
    directory: "/"
    schedule:
      interval: "weekly"
