name: Tests

permissions:
  contents: read

on:
  workflow_dispatch:
  push:
    branches:
      - master
    tags-ignore:
      - "*"
    paths:
      - "**/*.go"
      - "**/go.mod"
      - "**/go.sum"
      - "**/Dockerfile"
  pull_request:
    branches:
      - "**"
    paths:
      - "**/*.go"
      - "**/go.mod"
      - "**/go.sum"
      - "**/Dockerfile"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  codespell:
    name: Check for spelling errors
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: codespell-project/actions-codespell@8f01853be192eb0f849a5c7d721450e7a467c579 # v2.2
        with:
          check_filenames: true
          skip: ./.git,go.mod,go.sum
          ignore_words_list: AtLeast,AtMost

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: "go.mod"
          cache: true
      - run: go mod download
      - name: Run linters
        uses: golangci/golangci-lint-action@v9
        with:
          version-file: .tool-versions
          args: --timeout=5m

  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 25

    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: "go.mod"
          cache: true
      - run: go mod download -x
      - run: go test -v -race -coverprofile=coverage.out -covermode=atomic -timeout 20m ./...
        timeout-minutes: 20

  container-image:
    uses: docker/github-builder/.github/workflows/build.yml@c767551a26459c30e1f683df73a12fdb918f7068 # v1.0.0
    permissions:
      contents: read
    with:
      platforms: linux/amd64,linux/arm64,linux/arm/v7
      build-args: BUILDKIT_CONTEXT_KEEP_GIT_DIR=1
      output: local
